<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>CWC CMS</h2>
        </div>

    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>video_call</mat-icon>Videos</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manuals"><mat-icon>list</mat-icon>Manuals</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/downloads-section"><mat-icon>cloud_download</mat-icon>Downloads</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/additional-app-sections"><mat-icon>apps</mat-icon>Additional Apps</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/cel-members">
        <mat-icon>group</mat-icon>
        CEL Members
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/languages">
        <mat-icon>language</mat-icon>
        Languages
    </a>


</mat-nav-list>