<button class="mat-focus-indicator mat-stroked-button mat-button-base mat-primary" color="accent"
    >SECTIONS</button>
    <button class="mat-focus-indicator mat-stroked-button mat-button-base mat-primary" color="accent"
    (click)="categories()">CATEGORIES</button>
<!-- <h3>SECTIONS</h3> -->
<mat-divider></mat-divider>

<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <table class="table table-condensed">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Section Names</th>
            <!-- <th scope="col">Description</th>  -->
            <!-- <th scope="col">Handle</th> -->
            <th class="actions">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let downloadsection of downloadSectionData">
            <!-- <th scope="row">1</th> -->
            <td>{{downloadsection.sectionName}}</td>
            <td class="actions">
                <!-- <button type="button" class="btn btn-info btn-action"><i class="fas fa-bars"></i>View Categories </button> -->
                <button type="button" class="btn btn-primary btn-action" (click)="edit(downloadsection)"><i class="fas fa-pen"></i>Edit </button>
                <button type="button" class="btn btn-danger btn-action" (click)="delete(downloadsection)"><i class="fas fa-trash-alt"></i>Delete </button>
            </td>
          </tr>
      
        </tbody>
      </table>
</div>
<div class="btn-group dropup floating-action-button">
    <button class="btn btn-success btn-circle" type="button" (click)="openDialogsection()"><i class="material-icons pmd-sm">add</i></button>
</div>
