<button class="mat-focus-indicator mat-stroked-button mat-button-base mat-primary" color="accent"
(click)="back()">BACK</button>
   <!--  <button class="mat-focus-indicator mat-stroked-button mat-button-base mat-primary" color="accent"
    >CATEGORIES</button> -->
<!-- <h3>SECTIONS</h3> -->
<mat-divider></mat-divider>

<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <table class="table table-condensed">
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Files</th>
          <!-- <th scope="col">Last</th> -->
          <!-- <th scope="col">Handle</th> -->
          <th class="actions">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let files of filesData">
          <!-- <th scope="row">1</th> -->
          <!-- <td onclick="location.href='yourpage.html'"><a href="https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf">Link</a></td> -->
          <td onclick="location.href='yourpage.html'"><a href={{files.resourceFileNames}}>Link</a></td>
          <td class="actions">
              <button type="button" class="btn btn-danger btn-action" (click)="delete()"><i class="fas fa-trash-alt"></i>Delete </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  <div class="btn-group dropup floating-action-button">
    <button class="btn btn-success btn-circle" type="button" (click)="openDialogFiles()"><i class="material-icons pmd-sm">add</i></button>
</div>