/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: 400 12px/14px "Open Sans", sans-serif; }
.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .floating-action-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
   }
   .actions{
       text-align: right;
   }

   .btn-circle { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
    } 

    .btn-action { 
        // width: 50px;
        margin-left: 4px;
    } 
    .mat-form-field {
        width: 100%;
    }
    #fileUpload {
        position: absolute;
        z-index: 9;
        opacity: 0;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
        cursor: pointer;
    }